<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Agregar Habitación</title>
</head>

<body>
    <section>
        <header>
            <a href="#"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a th:href="@{/habitacion/crearHabitacion}">Agregar o Eliminar una Habitación</a></li>
                <li><a th:href="@{/habitacion/salidaHabitacion}">Salidas de una Habitación</a></li>
                <li><a th:href="@{/habitacion/monstruoHabitacion}">Monstruos Habitación</a></li>
                <li><a th:href="@{/habitacion/ItemHabitacion}">Items habitacion</a></li>
                <li><a th:href="@{/habitacion/DecoHabitacion}">Decoración Habitación</a></li>
                <li><a th:href="@{/disenador}">Atrás</a></li>
            </ul>
        </header>

        <h2>Ahora puedes <span>agregar o eliminar</span> una habitación</h2>

        <div class="contenedor">            
            <div class="img-box"> 
                <form class="formulario" action="/my-handling-form-page" method="post">
                    <ul>
                        <li>
                            <label for="ID">ID:</label>
                            <input type="text" id="ID" name="habitat_id">
                        </li>
                        <li>
                            <label for="Nombre">Nombre</label>
                            <input type="text" id="Nombre" name="habitat_name">
                        </li>
                    </ul>

                <a href="#">Agregar Habitación</a>
                <a href="#">Eliminar Habitación</a>


            </div>
        </div>


    </section>

</body>

</html>