<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Elimina Usuario</title>
</head>

<body>
    <section>
        <header>
            <a href="#"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a th:href="@{/jugador/crear}">Agregar un jugador</a></li>
                <li><a th:href="@{/jugador/eliminar}">Eliminar Jugador</a></li>
                <li><a th:href="@{/jugador/mod}">Modificar Jugador</a></li>
                <li><a th:href="@{/}">Salir</a></li>
            </ul>
        </header>

        <h2>Ahora puedes <span>eliminar</span> un jugador</h2>

        <div class="contenedor">
            <div class="img-box">
                <form class="formulario" action="/my-handling-form-page" method="post">
                    <ul>
                        <li>
                            <label for="name">ID:</label>
                            <input type="text" id="name" name="user_name">
                        </li>
                        <li>
                            <label for="mail">Nombre</label>
                            <input type="text" id="mail" name="user_mail">
                        </li>
                    </ul>

                    <a href="#">Eliminar jugador</a>

            </div>
        </div>


    </section>

</body>

</html>