<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Diseño</title>
</head>

<body>
    <section>
        <header>
            <a href="#"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a href="\FRONTEND\Jugador.html">Soy Jugador</a></li>
                <li><a href="\FRONTEND\Disenador.html">Soy Diseñador</a></li>
                <li><a href="\FRONTEND\Disenador.html">Atrás</a></li>
            </ul>
        </header>

        <h2>Como diseñador selecciona <span> qué quieres hacer</span> </h2>

        <div class="contenedor">            
            <div class="img-box"> 

                <a href="\FRONTEND\CRUDdisenaAgregaHabitat.html">CRUD HABITACIONES</a>
                <a href="\FRONTEND\CRUDdisenaAgregaItem.html">CRUD ITEMS</a>
                <a href="\FRONTEND\CRUDdisenaAgregaMonstruo.html">CRUD MONSTRUOS</a>
                <a href="\FRONTEND\CRUDdisenaAgregaDecor.html">CRUD DECORACIONES</a>               

            </div>
        </div>


    </section>

</body>

</html>