<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Agregar Item</title>
</head>

<body>
    <section>
        <header>
            <a href="#"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a th:href="@{/item/crearItem}">Agregar un Item</a></li>
                <li><a th:href="@{/item/eliminarItem}">Eliminar Item</a></li>
                <li><a th:href="@{/item/modificarItem}">Modificar Item</a></li>
                <li><a th:href="@{/disenar}">Atrás</a></li>
            </ul>
        </header>

        <h2>Ahora puedes <span>agregar</span> un Item</h2>

        <div class="contenedor">
            <form action="#" th:action="@{/item/guardar}" th:object="${newItem}" method="post">

                <div class="edit-field">
                    <label for="selected-name">Nombre:</label>
                    <input type="text" name="name" th:field="${newItem.Nombre}">
                </div>

                <div class="edit-field">
                    <label for="selected-lastUpdated">Actulizacion:</label>
                    <input type="text" name="last_updated" th:field="${newItem.Actualizacion}">
                </div>

                <div class="edit-field">
                    <label for="selected-cost">Costo:</label>
                    <input type="text" name="cost" th:field="${newItem.costo}">
                </div>

                <div class="edit-field">
                    <label for="selected-weight">Peso:</label>
                    <input type="text" name="weight" th:field="${newItem.pesot}">
                </div>

                <div class="edit-field">
                    <label for="selected-weight">Descripción:</label>
                    <input type="text" name="weight" th:field="${newItem.Descri}">
                </div>

                <div class="edit-field">
                    <button type="submit"> Guardar </button>
                </div>

            </form>
        </div>


    </section>

</body>

</html>