<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>OSRS</title>
</head>

<body>
    <section>
        <header>
            <a href="#"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/jugador/comingsoon}">Soy Jugador</a></li>
                <li><a href="\Disenador.html">Soy Diseñador</a></li>
                <li><a th:href="@{/jugador/list}">Soy Administrador</a></li>
            </ul>
        </header>

        <div class="contenedor">
            <div class="textbox">
                <h2>Old School RuneScape <br> Bienvenido a <span>OSRS</span> </h2>
                <p>Aquí encontrarás la posibilidad de aventurarte en un mundo de calabozos.
                    Combatiendo monstruos y encontrando items. Consigue tu puntaje después de
                    seguir vivo cuando el reloj marque 20. <b>¿Te atreves a jugar?</b>
                </p>
                <a href="https://oldschool.runescape.wiki/">Visita la WIKI del juego</a>
            </div>
            <div class="img-box">
                <img src="\imgs\foto1.png" width="600">
            </div>
        </div>


    </section>

</body>

</html>