<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Jugador</title>
</head>

<body>
    <section>
        <header>
            <a th:href="@{/}"><img src="\imgs\logo.jpg" class="logo"></a>
            <ul>
                <li><a th:href="@{/}">Inicio</a></li>
            </ul>
        </header>

        <div class="contenedor">
            <div class="textbox">
                <h2>Jugador estará <br> disponible <span>pronto!</span> </h2>
                <p>Por ahora aquí no hay nada</b>
                </p>
                <a href="https://oldschool.runescape.wiki/">Visita la WIKI del juego</a>
            </div>
            <div class="img-box">
                <img src="\imgs\foto1.png" width="600">
            </div>
        </div>


    </section>

</body>

</html>